---
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 0

BreakBeforeBraces: Attach
PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: false
ReflowComments: false

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true

AlignOperands: Align
AlignTrailingComments: true
AlignAfterOpenBracket: Align

BinPackArguments: true
BinPackParameters: true

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeCpp11BracedList: false

SpacesInAngles: Never
SpacesInParens: Never
SpacesInSquareBrackets: false
SpacesInContainerLiterals: false

Cpp11BracedListStyle: true

NamespaceIndentation: None
IndentCaseLabels: true

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

FixNamespaceComments: false
...